<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>

    <link rel="stylesheet" href="../../Styles/reset/reset.css">
    <link rel="stylesheet" href="../../Styles/header/header.css">
    <link rel="stylesheet" href="../../Styles/footer/footer.css">
    <link rel="stylesheet" href="../../Styles/entity-container/entity-container.css">
    <link rel="stylesheet" href="../../Styles/content-container/content-container.css">
    <link rel="stylesheet" href="../../Styles/navigation/navigation.css">
    <link rel="stylesheet" href="../../Styles/table/table.css">
</head>
<body>
<header class="header">

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__marker">
                <a
                    href=""
                    class="navigation__link"
                >
                    Главная
                </a>
            <li class="navigation__marker">
                <a
                        href=""
                        class="navigation__link"
                >
                    Книги
                </a>
            </li>
            <li class="navigation__marker">
                <a
                        href=""
                        class="navigation__link"
                >
                    Библиотеки
                </a>
            </li>
            <li class="navigation__marker">
                <a
                        href=""
                        class="navigation__link"
                >
                    Писатели
                </a>
            </li>
            <li class="navigation__marker">
                <a
                        href=""
                        class="navigation__link"
                >
                    Издатели
                </a>
            </li>
        </ul>
    </nav>

</header>

<div class="content-container">

    <div class="entity-container">

        <div class="entity-container__left-block">
            <div class="entity-container__info-block">
                <h2>Идиот</h2>
                <p>Достоевский Ф.М</p>
            </div>

            <div class="entity-container__info-block">
                <p>
                    Художественная литература
                </p>
                <p>
                    Россия 1869 г.
                </p>
                <p>
                    Издатель: Эксмо
                </p>
                <p>
                    Цена: 680р
                </p>
            </div>

            <div class="entity-container__left-buttons">
                <a
                    href=""
                    class="entity-container__button"
                >
                    Жанр
                </a>

                <a
                    href=""
                    class="entity-container__button"
                >
                    Автор
                </a>
            </div>
        </div>

        <div class="entity-container__right-block">
            <div class="entity-container__info-block entity-container__info-block_table">
                <div class="table">
                    <div class="table__header">
                        <div class="table__field">кол-во</div>
                        <div class="table__field">библиотека</div>
                    </div>

                    <div class="table__row">
                        <div class="table__field">666</div>
                        <div class="table__field">Им. Чехова</div>
                    </div>

                    <div class="table__row">
                        <div class="table__field">666</div>
                        <div class="table__field">Им. Чехова</div>
                    </div>

                    <div class="table__row">
                        <div class="table__field">666</div>
                        <div class="table__field">Им. Чехова</div>
                    </div>

                    <div class="table__row">
                        <div class="table__field">666</div>
                        <div class="table__field">Им. Чехова</div>
                    </div>

                    <div class="table__row">
                        <div class="table__field">666</div>
                        <div class="table__field">Им. Чехова</div>
                    </div>


                </div>
            </div>

            <a
                href=""
                class="entity-container__button">
                Весь список
            </a>
        </div>

    </div>

</div>

<footer class="footer">

    <a
        href=""
        class="footer__link"
    >
        БЛА-БЛА ВСЕ прав защищены
    </a>

    <a
        href=""
        class="footer__link"
    >
        VK
    </a>

    <a
        href=""
        class="footer__link"
    >
        Telegram
    </a>

</footer>
</body>
</html>