.content-container {
    display: flex;
    justify-content: center;

    margin: 120px auto;

    box-sizing: border-box;
}

.content-container_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 50px 100px;
}