.entity-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;

    height: 60%;
    padding: 30px;

    background-color: #DCD8CB;
    border-radius: 12px;
}

.entity-container__side-block {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.entity-container__info-block {
    display: flex;
    flex-direction: column;
    gap: 10px 0;

    padding: 25px;

    text-align: center;

    background-color: #D3C2C2;
    border-radius: 12px;
}

.entity-container__info-block_table {
    padding: 10px;
    width: 200px;
}

.entity-container__button {
    display: block;
    text-align: center;

    padding: 10px 38px;

    text-decoration: none;
    color: black;

    border-radius: 12px;
    background-color: #BCB0B0;
}

.entity-container__button:hover {
    transition: .3s;
    background-color: #D3C2C2;
}


.entity-container__left-buttons {
    display: flex;
    justify-content: space-between;
}

.entity-container_list {
    flex-direction: row;
    flex-wrap: wrap;

    margin-right: 30px;

    width: 80%;

    box-sizing: border-box;
    gap: 15px 15px;
}

.entity-container__info-block_list {
    text-align: center;

    text-decoration: none;

    border-radius: 12px;
    background-color: #D3C2C2;
}
